[Desktop Entry]
Name=PySimpleCV
GenericName=Calculate and plot Cyclic voltammogram and battery cycling
Comment=Calculate and plot Cyclic voltammogram and battery cycling
Exec=PySimpleCV %F
Icon=io.github.kevinsmia1939.PySimpleCV
Terminal=false
Type=Application
Categories=Science;Chemistry;
